#canvas{
    border: 5px solid black;       
}
#container{
    background-color: cornsilk;
    display: flex;
    justify-content: center;
} 
#kitBox{
    background-color: cornsilk;
    border: black;    
    border-style: dotted;    
    margin-left: 20px;
    display: flex;
    float: left;
    width: 276px;
    height: 290px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#filters{
    width: calc(100% - 70px);
    height: 150px;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 70px;
    display: flex;   

}
#fileInput{
    height: 50px;
    width: calc(100% - 60px);
    padding:15px 0px 0px 60px;
}
#colorBox{
    width: 100%;
    display: flex;
}
#colorBox div{
    width: 69px;
    height: 75px;
}
#colorPurple{
    background-color: #4B0082;
}
#colorGreen{
    background-color: #008000;
}
#colorYellow{
    background-color: #FFFF00;
}
#colorBlue{
    background-color: #0000FF;
}